.sort {
	margin-right: 10px;
	
	@include media($mobile) {
		margin: 0;
	}
	
	p {
		margin-right: 5px;
	}
	p, .select {
		display: inline-block;
		vertical-align: middle;
	}
}

.page-filters {
	ul.pagination {
		list-style-type: none;
		padding-left: 0;
		text-align: center;
		li { 
			display: inline-block;
			margin: 0 ;
			font-family: $font-family-serif;
			font-weight: 300;
			font-size: 20px;
			a {
				padding: 0 5px 2px;
				&:hover {
					background: #EEE;
				}
			}
		}
	}
	p {
		font-size: 16px;
		font-weight: 400;
	}
	.select {
		p {
			margin-left: 5px;
		}
		@include media($mobile) {
			display: block;
		}
	}
	p, .select {
		display: inline-block;
		vertical-align: middle;
	}
	.sort {
		display: inline-block;
	}
	.group {
		display: flex;
		justify-content: space-between;
		
		@include media($mobile) {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		&> p {
			margin-left: 10px;
			
			@include media($mobile) {
				margin: 10px auto;
			}
		}
	}
}