// Atoms
//
// If atoms are the basic building blocks of matter, then the atoms of
// our interfaces serve as the foundational building blocks that
// comprise all our user interfaces. Therefore these atoms would include
// basic HTML tags like form labels, inputs, buttons, and other elements
// that can’t be broken down any further without ceasing to be functional.
//
// @source - http://atomicdesign.bradfrost.com/chapter-2/
input, .select, button, a.btn-transparent {
	display: inline-block;
	height: 36px;
}	

button, select {
	border-radius: 0 ;
}
button {
	border: none;
	&:focus {
	    outline: none;
	    box-shadow: 0 0 10px $color-primary;
	}
}
input[type="date"], input[type="number"], input[type="text"], input[type="email"]{
	width: 100%;
	border: 1px solid $green;
	padding: 0 8px;
	box-sizing: border-box;
	margin-bottom: 5px;
	&:focus {
	    outline: none;
	    box-shadow: inset 0 0 5px $color-primary;
	}
}
input[type="checkbox"] {
	display: none;	
	
	& + label {
		margin-bottom: 10px;
	}
	
	& + label span {
	    display:inline-block;
	    width:16px;
	    height:16px;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    background: white;
	    border: 3px solid $color-primary;
	    border-radius: 3px;
	    cursor:pointer;
	}
	&:checked + label span {
		display:inline-block;
	    margin:-1px 4px 0 0;
	    vertical-align:middle;
	    cursor:pointer;
	    border: 3px solid $color-primary;
	    position: relative;
	    &:after {
	      content: '';
	      width: 13px;
	      height: 7px;
	      position: absolute;
	      top: 0px;
	      left: 1px;
	      border: 3px solid $color-primary;
	      border-top: none;
	      border-right: none;
	      background: transparent;
	      box-shadow: 1px 1px 0 white;
	      transform: rotate(-45deg);
	    }
	}
}
label {
	display: block;
	
}
.select {
    //width: 120px;
    margin-bottom: 5px;
    border-radius: 0;
    overflow: hidden;
    //background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
    background: white;
	border: 1px solid $color-primary;
	
	select {
	    padding: 9px 8px;
	    width: 100%;
	    border: none;
	    box-shadow: none;
	    background: transparent;
	    background-image: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	    &:focus {
		    outline: none;
		    box-shadow: inset 0 0 5px $color-primary;
		}
		option[value=""] {
			color: #666;
		}
	}
	&:after {
    	content:"▼";
    	pointer-events:none;
    	font-size: 14px;
    	position: relative;
    	display: inline-block;
	    float: right;
	    right: 12px;
	    top: -24px;
	    color: $color-primary;
	    text-shadow: none;
    }
}

.btn{
	border: none;
}
button.btn-back {
	background: white;
	color: $color-primary;
	padding-left: 0;
	padding-right: 10px;
	margin-left: 15px;
	position: relative;
}
button.btn-back:before {
	position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 16px solid white;
    left: -16px;
    top: 0px;
}
button.btn-round {
	border-radius: 20px;
	box-sizing: border-box;
	border: none;
	width: 40px;
	height: 40px;
}
button.btn-favorite {
	background: $color-primary;
	color: white;
	font-size: 20px;
	pointer-events: auto;
}
button.btn-share {
	color: white;
	font-family: $font-family-serif !important;
	font-size: 18px;
	font-weight: 300;
	pointer-events: auto;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 5px;
	@media only screen and (min-width:1024px) and (max-width:1280px) {
		padding: 0;
		width: 40px;
		.share-text { display: none}
	}
	@media only screen and (max-width:400px) {
		padding: 0;
		width: 40px;
		.share-text { display: none}
	}
}
.btn-facebook {
	background: #3b5998
}
.btn-twitter {
	background: #1da1f2;
}
.btn-pinterest {
	background: #C92228;
}
.coastal button.btn-favorite {
	background: $blue;
	color: white;
}
.btn-transparent {
	background: rgba(white, .25);
	border: 1px solid white;
	color: inherit;
	padding: 10px 20px;
	transition: all .2s;
}
.btn-big {
	width: 100%;
	background: $color-primary;
	color: white;
	font-size: 48px;
	padding: 10px;
	height: auto;
	font-family: $font-family-serif;
	font-weight: 300;
}
.btn-transparent:hover {
	background: $green;
	box-shadow: 0 5px 10px rgba(#000,.5);
}
.btn-submit {
	background: $color-primary;
	border: 1px solid white;
	color: white;
	transition: all .2s;
}
.btn-submit:hover {
	background: white;
	color: $green;
	box-shadow: 0 5px 10px rgba(#000,.5);
}
.btn-request {
	background: white;
	border: 4px solid $green;
	color: $green;
	font-family: RobotoSlab-Bold;
	font-size: 24px;
	padding: 5px 10px 6px;
	margin: 20px 0;
}

@mixin underlined-link($color) {
	position: relative;
	text-decoration: none;
	&:before {
	  content: "";
	  position: absolute;
	  width: 100%;
	  height: 1px;
	  bottom: 0;
	  left: 0;
	  background-color: $color;
	  visibility: hidden;
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transition: all 0.3s ease-in-out 0s;
	  transition: all 0.3s ease-in-out 0s;
	}
	&:hover:before {
	  visibility: visible;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
}