// Color Palette
// examples based on the official Sass styleguide

// descriptive colors
// =============
$white:						#FFFFFF;
$dark_grey:					#4C4C4C;
$green:						#66942E;
// main color palette
// =============
$color-primary:             $green;
// Common colors
$color-background:          $white;

// Links
$color-link:                $color-primary;
$color-text:				$dark_grey;
// Code
$color-code:                #333;
$color-code-background:     #f3f3f3;
$color-pre:                 #d4d4d4;
$color-pre-background:      #333;

// Selections
$color-selection:           #b3d4fc;

// Messages
$color-message:             #f4ecbb;
$color-success:             #2cde2c;
$color-warning:             #cf8600;
$color-important:           #d00;
$color-notice:              #66b;
