// ==========================================================================
// $ICONS
// ==========================================================================

.icon-access:before {
	content: url(/img/icon-access.svg);
	margin: 2px 5px;
}
.icon-babycart:before {
	content: url(/img/icon-babycart.svg);
	margin: 2px 5px;
}
.icon-bath:before {
	content: url(/img/icon-bath.svg);
	margin: 2px 5px;
}
.icon-bed:before {
	content: url(/img/icon-bed.svg);
	margin: 2px 5px;
}
.icon-bell:before {
	content: url(/img/icon-bell.svg);
	margin: 2px 5px;
}
.icon-butterfly:before {
	content: url(/img/icon-butterfly.svg);
	margin: 2px 5px;
}
.icon-cot:before {
	content: url(/img/icon-cot.svg);
	margin: 2px 5px;
}
.icon-cottage:before {
	content: url(/img/icon-cottage.svg);
	margin: 2px 5px;
}
.icon-dishwasher:before {
	content: url(/img/icon-dishwasher.svg);
	margin: 2px 5px;
}
.icon-fire:before {
	content: url(/img/icon-fire.svg);
	margin: 2px 5px;
}
.icon-hearth:before {
	content: url(/img/icon-hearth.svg);
	margin: 2px 5px;
}

.icon-hottub:before {
	content: url(/img/icon-hottub.svg);
	margin: 2px 5px;
}
.icon-parking:before {
	content: url(/img/icon-parking.svg);
	margin: 2px 5px;
}
.icon-person:before {
	content: url(/img/icon-person.svg);
	margin: 2px 5px;
}
.icon-pet:before {
	content: url(/img/icon-pet.svg);
	margin: 2px 5px;
}
.icon-pub:before {
	content: url(/img/icon-pub.svg);
	margin: 2px 5px;
}
.icon-ve:before {
	content: url(/img/icon-ve.svg);
	margin: 2px 5px;
}
.icon-walk:before {
	content: url(/img/icon-walk.svg);
	margin: 2px 5px;
}
.icon-wifi:before {
	content: url(/img/icon-wifi.svg);
	margin: 2px 5px;
}