// ==========================================================================
// $ICONS
// ==========================================================================

.icon-hearth:before {
	content: url(/img/icon-hearth.svg);
	margin: 2px 5px;
}
.icon-bell:before {
	content: url(/img/icon-bell.svg);
	margin: 2px 5px;
}

.icon-bed:before {
	content: url(/img/icon-bed.svg);
	margin: 2px 5px;
}
.icon-person:before {
	content: url(/img/icon-person.svg);
	margin: 2px 5px;
}
.icon-pet:before {
	content: url(/img/icon-pet.svg);
	margin: 2px 5px;
}