body {
	&.post-template-default {
		.content {
			@include outer-container;
			aside{
				float:left;
				padding: 10px;
				@include span-columns(3);
				
				.intelliwidget-excerpt-container {
					margin-bottom: 30px;
				}
				form {
					.select { width: 100%; }
				}
			}
			.maincontent {
				float:right;
				padding:  10px;
				@include span-columns(9);
				@include omega();
				
				.entry-title {
					margin: 0 0 10px;
				}
			}
			aside {
				#sidebar {
					width: 100%;
				}
				.widget-area {
					margin: 20px 0 0;
					border-top: 1px solid $green;
					border-bottom: 1px solid $green;
					
					.xoxo {
						padding: 10px;
						
						.cat-item {
							margin-top: 10px;
							padding-bottom: 10px;
							border-bottom: 1px dashed $green;
						}
					}
					h3 {
						margin: 0;
					}
					ul {
						list-style-type: none;
						padding: 0;
					}
				}
			}
		}
	}
	&.single-post{
		
	}
}