#landingpage {
	#icons {
		width: 100%;
		float: left;
		background: white;
		position: relative;
		z-index: 1;
		
		
		
		&:before, &:after {
			content: "";
			height: 80px;
			display: block;
			background-size: cover;
		}
		&:before {
			background: url("../img/watercolor-blue.jpg") center no-repeat;
			background-size: cover;
		}
		&:after {
			background: url("../img/watercolor-green.jpg") center no-repeat;
			background-size: cover;
		}
		
		.wrapper {
			@include outer-container();
			padding: 25px 0;
			margin: auto;
			
			div {
				@include span-columns(3);
				@include media($mobile) {
					@include span-columns(10 of 12);
					@include shift(1);
					margin-bottom: 40px;
					&:last-child{margin-bottom: 0}
				}
				img{
					display: block;
					width: 75px;
					height: 75px;
					margin: auto;
				}
			}
		}
	}
	#themes {
		@include outer-container(100%);
		@include fill-parent();
		box-shadow: 0 4px 7px rgba(#000,.25), 0 -4px 7px rgba(#000,.25);
		z-index: 50;
		position: relative;
		&>a {
			@include span-columns(4);
			@include reset-display;
			@include pad();
			background-size: 110%, 110%;
			background-position: center center; 
			width: 33.333%;
			margin: 0;
			padding-bottom: 20px;
			transition: background-size .25s ease-in;
			
			
			h3 {
				text-align: center;
				font-weight: 300;
				font-size: 24px;
				color: #FFFFFF;
				text-shadow: 0px 1px 2px rgba(0,0,0,0.25), 
							0px 0px 8px rgba(0,0,0,0.5);
				margin: 160px 0 0;
				
			}
			
			@include media($mobile) {
				@include span-columns(12);
				border-bottom: 2px solid white;
				h3 {
					margin: 100px 0 0;
				}
			}
			
			
			&:nth-child(1) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t1.jpg");
			}
			&:nth-child(2) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t2.jpg");
			}
			&:nth-child(3) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t3.jpg");
			}
			&:nth-child(4) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t4.jpg");
			}
			&:nth-child(5) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t5.jpg");
			}
			&:nth-child(6) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t6.jpg");
			}
			&:nth-child(7) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t7.jpg");
			}
			&:nth-child(8) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t8.jpg");
			}
			&:nth-child(9) {
				background-image: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.0), rgba(#000, 0.65)), url("../img/t9.jpg");
			}
			&:nth-child(3n+0) {
				@include omega();
			}
			&:hover {
				background-size: 120%; 
			}
		}
	}
	#news {
		background: white;
		position: relative;
		z-index: 1;
		padding: 30px 0 50px;
		.wrapper {
			h4 {
				font-weight: 100;
				font-size: 48px;
				color: $dark-grey;
				text-shadow: 0px 0px 1px rgba(0,0,0,0.50);
				text-align: center;
			}
			@include outer-container;
			article {
				@include span-columns(4);
				h5 {
					font-size: 20px;
					color: $green;
				}
				.date { 
					font-family: $font-family-serif;
					font-weight: bold;
					font-size: 12px;
				}
				@include media($mobile) {
					@include span-columns(10 of 12);
					@include shift(1);
				}
			}
		}
	}
	
}
