.page-template-page-cottage-list {
	.content {
		position: relative;
		z-index: 1;
		float: left;
		width: 100%;
		overflow: hidden; 
		aside {
			@include span-columns(3);
			@include media($laptop) {
				@include span-columns(4);
			}
			@include media($tablet) {
				@include span-columns(12 of 12);
			}
			background: #EEEEEE;
			margin-bottom: -5000px; /* any large number will do */
			padding-bottom: 5000px; 
			form[name="side-search"] {
				input[type="text"], input[type="number"], .btn-submit {width: 100%;}
				@include media($fullhd) {
					input[type="data"], .select {
						@include span-columns(12 of 12);
					}
				}
				@include media($desktop) {
					input[type="data"], .select {
						@include span-columns(12 of 12);
					}
				}
				@include media($laptop) {
					input[type="data"], .select {@include span-columns(4 of 4);}
				}
				@include media($tablet) {
					input[type="data"], .select {@include span-columns(4 of 12);}
					padding-bottom: 25px;
				}
				@include media($mobile) {
					input[type="data"], .select {@include span-columns(6 of 12);}
					padding-bottom: 20px;
				}
			}
			fieldset.refine, fieldset.filter, fieldset.submit {
				border: 0;
				margin: 0;
			}
			fieldset.refine {
				background: $green;
				padding-top: 60px;
			}
			fieldset.filter {
				margin: 20px 15px 0;
			}
			.refine legend, .filter legend {
				font-size: 20px;
				font-weight: bold;
			}
			.refine legend {
				
				padding-top: 20px;
				background: $green;
				color: $white;
				position: absolute;
				top: 10px;
			}
		}
		#results {
			@include span-columns(9);
			@include media($laptop) {
				@include span-columns(8);
			}
			@include media($tablet) {
				@include span-columns(8 of 8);
			}
			
			float: left;
			#map {
				width: 100%;
				height: 300px;
				background: #EEEEEE;
			}
			.articles {
				@include span-columns(8 of 8);
				background: white;
				overflow: hidden;
				margin-top: 20px;
				article {
					
					font-family: "Roboto Slab";
					color: white;
					height: 340px;
					background: $color-primary;
					margin-bottom: 20px;
					.pictures {
						position: relative;
						height: 300px;
						overflow: hidden;
						z-index: 0;
						div { background-size: cover;
							height: 300px;
							width: 100%;
						}
					}
					a {
						color: $white;
					}
					.main-info {
						margin-top: -300px;
						height: 300px;
						position: relative;
						z-index: 1;
						box-sizing: border-box;
						padding: 15px;
						pointer-events: none;
						.property-type { height: 30px;}
						.btn-favorite{
							float: right;
						}
						h2 { 
							font-weight: bold;
							font-size: 24px;
							text-shadow: 0px 2px 6px rgba(0,0,0,0.30), 0 0 2px rgba(0,0,0,.5);
							margin: 180px 0 0;
							pointer-events: auto;
						}
						.location {
							text-shadow: 0 2px 4px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.5);
							pointer-events: auto;
						}
						.star-rating{
							float: right;
							margin-top: -20px;
							text-shadow: 0 2px 4px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.5);
							pointer-events: auto;
							@include media($tablet) {
								margin-top: 0;
							}
						}
					}
					.summary {
						height: 40px;
						position: relative;
						z-index: 1;
						box-sizing: border-box;
						padding: 5px 15px;
						pointer-events: none;
						font-size: 24px;
						font-weight: 300;
						.price { 
							float: right;
							font-weight: bold;
							font-size: 20px;
						}
						span:nth-child(2n+0) {
							margin-right: 10px;
						}
					}
					
					&.coastal {
						background: $blue;
					}
					@include media($imac) {
						@include span-columns(3 of 9);
						&:nth-child(3n){
							@include omega();
						}
					}
					@include media($fullhd) {
						@include span-columns(4 of 8);
						&:nth-child(2n){
							@include omega();
						}
					}
					/*
@include media($laptop) {
						@include span-columns(4 of 8);
						&:nth-child(2n){
							@include omega();
						}
						height: 280px;
						.pictures {
							height: 240px;
						}
						.main-info {
							margin-top: -255px;
							height: 255px;
							h2 {margin: 150px 0 0;}
						}
					}
*/
					@include media($laptop) {
						@include span-columns(8 of 8);
						height: 340px;
						.pictures {
							height: 300px;
						}
						.main-info {
							margin-top: -300px;
							height: 300px;
							h2 {margin: 180px 0 0;}
						}
					}
					@include media($mobile) {
						@include span-columns(12 of 12);
						height: 310px;
						.pictures {
							height: 270px;
						}
						.main-info {
							margin-top: -270px;
							height: 270px;
							h2 {margin: 160px 0 0;}
						}
					}
					
				}
			}
		}
	}
}
