#singlepage {
	.mobile-hidden{
		display: block;
	}
	@include media($tablet) {
		.mobile-hidden{
			display: none
		}
		.slick-dots{
			display: none;
		}
		.tab-content{
			display: none;
			&.active{
				display: block;
			}
		}
	}
	.tab-nav {
		display: none;
		@include media($tablet) {
			display: block;
			background: $dark-grey;
			padding-left: 0;
			li {
				display: inline-block;
				background: transparent;
				color: white;
				margin: 5px 10px;
				&.active {
					display: inline-block;
					background: white;
					color: $dark-grey;
					&.booking {
						background: $color-primary;
						color: white;
					}
				}
			}
		}
	}
	

	.content {
		@include outer-container;
		@include fill-parent();
		@include row(table);
		position: relative;
		z-index: 1;
		width: 100%;
		overflow: hidden; 
		margin-left: auto;
		margin-right: auto;
		article {
			@include span-columns(8);
			@include pad();
			@include media($tablet) {
				@include span-columns(12);
			}
			float: left;
			padding: 0;
			.header {
				height: 120px;
				h1 {margin: 0 0 5px}
				.location {
					color: $color-primary;
					font-size: 20px;
				}
			}
			
		}
		aside {
			@include span-columns(4);
			@include pad();
			@include omega();
			
			@include media($tablet) {
				@include span-columns(12);
			}
			
			float: left;
			padding: 0;
			.header {
				height: 120px;
				background: white;
			}
			.body {
				background: $color-primary;
				color: white;
				font-family: $font-family-serif;
				font-weight: lighter;
				font-size: 24px;
				padding: 25px;
				line-height: 36px;
				height: 657px;
				@include media($tablet) {
					font-size: 16px;
					font-weight: 300;
					padding: 15px;
				}
			}
			.price {
				font-weight: 100;
				font-size: 36px;
				letter-spacing: 0px;
				background: $dark-grey;
				color: white;
				padding: 25px;
				span {
					font-weight: 600;
					text-align: right;
					float: right;
				}
			}
			.summary {
				padding: 25px;
				ul {
					li{ 
						color: $color-primary;
						font-size: 24px;
					}
				}
				@include media($tablet) {
					ul li {
						font-size: 16px;
					}
					
					padding: 15px;
				}
			}
			#calendar {
				padding: 25px;
		    	
				header {
			      overflow: clear;
			      position: relative;
			      background: transparent;
			      border-bottom: 2px solid $color-primary;
			      color: $dark-grey;
			      box-shadow: none;
			      padding: 5px 0;
			      h2 {
				      font-size: 18px;
				      font-weight: 700;
				      margin: 0 0 10px;
				      text-align: center;
				    }
				    button {
				      position: absolute;
				      top: -4px;
				      &:first-child {
					    left: 0;
					  }
					  &:last-child {
				      	right: 0;
				      }
				    }
			    }
			    
			  
			    table {
			      background: #FCFCFC;
			      border-collapse: collapse;
			      color: #222;
			      font-family: 'PT Sans', sans-serif;
			      font-size: 13px;
			      width: 100%;
			      thead td {
				      background: white;
				      font-weight: 400;
				   }
			      td {
				      border: 1px solid white;
				      color: #444;
				      line-height: 22px;
				      text-align: center;
				      height: 60px;
				      font-size: 20px;
				      font-weight: 300;
				      font-family: $font-family-sans;
				      &.selected {
					      background: $color-primary;
					      color: white;
					      border: 0;
					   }
					  &.nc {
						  
					  }
				   }
				   
			    }
			}
			.book {
				border-top: 2px solid $color-primary;
				margin-bottom: 20px;
				padding: 25px;
				div{
					width: 25%;
					display: inline-block;
					clear: none;
					padding-bottom: 25px;
					&.double {
						//@include span-columns(6 of 12);
						width: 50% !important;
						
					}
				}
				label {
					
					font-weight: 300;
					font-size: 24px;
					line-height: 28px;
					strong {
						font-family: $font-family-serif;
						font-weight: 400;
					}
					
				}
				.select {
					//@include span-columns(3 of 12);
					
				}
				.last {
					@include omega();
				}
			}
		}
		
		#map {
			float: left;
			width: 100%;
			height: 200px;
			background: rgba(255,230,120,1);
		}
		
	}
	
}
