footer {
	width: 100%;
	box-shadow: 0 -2px 7px rgba(#000,.25);
	background: white;
	z-index: 5;
	position: relative;
	float:left;
	nav {
		margin-top: 20px;
		@include span-columns(2);
		@include media($tablet) {
			@include span-columns(5 of 12);
			&:nth-child(2n-1) {
				@include shift(1);
			}
			border-bottom: 2px solid white;
			h3 {
				margin: 100px 0 0;
			}
		}
		@include media($mobile) {
			@include span-columns(10 of 12);
			@include shift(1);
			border-bottom: 2px solid white;
			h3 {
				margin: 100px 0 0;
			}
		}
		h6 {
			
			font-size: 16px;
			margin: 10px 0;
			text-shadow: 0px 0px 1px rgba(0,0,0,0.50);
			&:before {
				content: "•";
				color: $green;
				margin-right: 10px;
			}
		}
		
		ul {
			list-style-type: none;
			padding-left: 15px;
			margin: 5px 0;
			
			li {
				
			}
		}
		&.social {
			@include span-columns(4);
			@include omega();
			@include media($tablet) {
				@include span-columns(10 of 12);
				@include shift(1);
				border-bottom: 2px solid white;
				.btn {
					@include span-columns(5 of 10);
					@include shift(0);
					float: left !important;
					clear: none;
				}
				h3 {
					margin: 100px 0 0;
				}
				ul {
					text-align: center;
					clear: both;
					@include span-columns(5 of 10);
					@include shift(0);
					float: left;
					clear: both;
					margin: 25px 0;
					li {
						margin: 0 10px;
						float: left;
					}
				}
			}
			@include media($mobile) {
				@include span-columns(10 of 12);
				@include shift(1);
				border-bottom: 2px solid white;
				.btn {
					width: 100%;
				}
				h3 {
					margin: 100px 0 0;
				}
				ul {
					text-align: center;
					clear: both;
					width: 100%;
					li {
						margin: 0 10px;
						float: none;
					}
				}
			}
			.btn {float: right; text-align: center;}
			text-align: right;
			ul {
				padding-left: 0;
				li {
					display: inline-block;
				}
			}
		}
	}
	.background-dark {
		@include span-columns(12);
		@include omega();
		margin-top: 20px;
		.info {
			@include span-columns(7);
			
			@include media($tablet) {
				@include span-columns(10 of 12);
				@include shift(1);
				margin-top: 30px;
			}
		}
		.newsletter {
			@include span-columns(5);
			@include omega();
			text-align: right;
			margin: 35px 0;
			form { display: inline-block; margin-left: 10px }
			@include span-columns(5);
			
			@include media($tablet) {
				@include span-columns(10 of 12);
				@include shift(1);
				margin-top: 10px;
				span {
					display: inline-block;
					padding-bottom: 10px;
				}
				form { 
					margin-left: 0;
					width: 100%;
					input {width: 65%; float: left;}
					button {width: 30%}
				}
			}
		}
	}
}