@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1440px;

// Define your breakpoints
$imac: 		new-breakpoint(min-width 1920px 12);
$fullhd: 	new-breakpoint(max-width 1919px 12);
$desktop: 	new-breakpoint(max-width 1599px 12);
$laptop: 	new-breakpoint(max-width 1279px 12);
$tablet-l: 	new-breakpoint(max-width 1023px 12);
$tablet: 	new-breakpoint(max-width  767px 12);
$mobile: 	new-breakpoint(max-width  459px 12);

